[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sphinx = ">=4.4.0,<6"
docutils = ">=0.18"

[dev-packages]
pytest = "==7.2.0"
docutils-stubs = "==0.0.22"
black = {version = "==22.10.0", extras = ["d"]}
